/*=================navbar==================================*/

/*===================================carousel======================*/
.carousel-size {
    height: 550px;
    max-height: 550px; 
    width:1000px;
    max-width: 1000px;
    margin-left: 170px;
    opacity: 0.8;
  }
/*----------------cards------------------------*/
.space{
   margin:20px;
   margin-left:25px;
}

.c-text{
   font-size: 30px;
   padding:0;
   margin:0;
   text-align: center;
   color: whitesmoke
}



/*========================footer===========================*/
footer {
	padding:20px;
   background:black !important;
   color:white
}
.icon-align{
vertical-align: -webkit-baseline-middle
}
.icon-f{
   margin: 5px;
   margin-bottom: 0;
   color: whitesmoke;
}
.sub-footer  {
	background:#030303;
   padding-bottom:20px;
   color: floralwhite;
   text-align: center;
}

footer h4 {
	margin-bottom:30px;
	text-transform:uppercase;
	text-shadow:none;
	font-weight:550;
	color:#fff;
}

.mobile{
  margin-left: -1cm;
}

.footer-mid{
   margin-top:2cm;
   margin-left:-0.5cm;
   position: relative;
}


.form-group{
  padding: 5px;
  width: 80%;
}

.link-color{
color:white;
}
/*------------------------------------------------------*/
