/*=================navbar==================================*/

/*===================================carousel======================*/
.carousel-size {
   
    max-height: 1920px; 
    max-width: 1080px;
    margin:auto;
    opacity: 0.8;
  }

  .c-img{
 height: 600px;
    width:1920px;
  }
/*----------------cards------------------------*/
.space{
   margin:2vw;
   margin-left:25px;
   margin-bottom: 3vw;
}

.c-text{
   font-size: 30px;
   padding:0;
   margin:0;
   text-align: center;
   color: whitesmoke
}

.c-hov:hover{
transition: transform 0.2s ease;
transform:scale(1.1)
}

.tilt-img:hover {
transform: rotate3d(1,1,1, 15deg);

}


/*========================footer===========================*/
footer {
	padding:20px;
   background:black !important;
   color:white
}
.icon-align{
vertical-align: -webkit-baseline-middle
}
.icon-f{
   margin: 5px;
   margin-bottom: 0;
   color: whitesmoke;
   
}
.sub-footer  {
	background:#030303;
   padding-bottom:20px;
   color: floralwhite;
   text-align: center;
}

footer h4 {
	margin-bottom:30px;
	text-transform:uppercase;
	text-shadow:none;
	font-weight:550;
	color:#fff;
}

.mobile{
  margin-left: -1cm;
}

.footer-mid{
   margin-top:2cm;
   /* margin-left:-0.5cm; */
   position: relative;
}


.form-group{
  padding: 5px;
  width: 80%;
}

.link-color{
color:white;
text-decoration: none;
}

.admin{
   font-size: large;
   text-align:left;
}
.download-button{
   margin:auto;
   margin-right: 1vw;
}
.download-button:hover{
   transform:scale(1.1);
}
/*------------------------------------------------------*/
